#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.photograph-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33,3%;
}

.photograph-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33,3%;
}

.photograph-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33,3%;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 20px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*menu nav*/
.section-trie{
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.section-trie p{
    margin-right: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 35px;
}

nav{
    display: flex;
    font-size: 20px;
    width: 100px;
}

.arrow{
    color: white;
    font-size: 1.5em;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    height: auto;
    width: 130px;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    background-color: #901C1C;
    border-radius: 5px;
}

.navbar a {
    padding: 18px 0;
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 10px;
    font-size: 15px;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    background-color: #901C1C;
}

.navbar li ul li a {
    border-top: 1px solid #ffffff;
}

.navbar li ul li a:hover {
    background-color: #5d0b0b;
}
