.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.photograph-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33,3%;
}

.photograph-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33,3%;
}

.photograph-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33,3%;
}
.photograph-photo img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.photograph-info h2 {
    color: #D3573C;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: -5px;
}

.photograph-info h3 {
    color: #901C1C;
    font-size: 20px;
    margin-bottom: -5px;
}
.photograph-info h4 {
    color: grey;
    font-size: 20px;
    font-weight: lighter;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 20px;
}

.formulaire{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

.modal {
    border-radius: 15px;
    background-color: #DB8876;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.modal header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: -10px;
}

.headerModal-text{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    font-size: 40px;
    font-weight: lighter;
    width: 80%;
    height: fit-content;
    margin-top: -50px;
}

#contact_name{
    margin-top: -50px;
    font-size: 40px;
}

.modal header img {
    cursor: pointer;
    position: relative;
    top: -35px;
    right: 0px;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
    margin-bottom: -10px;
    font-weight: 500;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 25px;
}

.textarea-message{
    font-weight: 500;
    margin-top: -15px;
}

.textarea-message textarea{
    width: 700px;
    height: 200px;
    border: none;
    border-radius: 5px;
    resize: none;
    margin-top: 15px;
    font-size: 25px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 20px;
    color: #6d0f0f;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 3px solid #6d0f0f;
}


/*menu nav*/
.section-trie{
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.section-trie p{
    margin-right: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 35px;
}

nav{
    display: flex;
    font-size: 20px;
    width: 100px;
}

.arrow{
    color: white;
    font-size: 1.5em;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    height: auto;
    width: 130px;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    background-color: #901C1C;
    border-radius: 5px;
}

.navbar a {
    padding: 18px 0;
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 10px;
    font-size: 15px;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    background-color: #901C1C;
}

.navbar li ul li a {
    border-top: 1px solid #ffffff;
}

.navbar li ul li a:hover {
    background-color: #5d0b0b;
}

/*display les medias*/
.mediaDisplay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.mediaCard{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 40px
}

.mediaCard--img{
    height: 85%;
    width: 100%;
}

.mediaCard--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mediaCard--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 450px;
    margin-top: 20px;
}

.mediaCard--info--like{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: 23px;
    color: #6d0f0f;
    font-weight: bold;
    margin-top: -45px;
}

.mediaCard--info--titre{
    height: 100%;
    width: 90%;
    font-size: 25px;
    color: #5d0b0b;
    font-weight: lighter;
}

/*bottom panel*/
.bottom-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 280px;
    background-color: #d97a64;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.bottom-panel--like{
    display: flex;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.heart{
    font-size: 1.2em;
    color: black;
    margin-top: 20px;
    margin-left: 10px;
}

.heartLike{
    font-size: 1em;
    color: #901C1C;
    margin-left: 10px;
}

.bottom-panel--tarif{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
